In [1]:
import pandas as pd
import numpy as np
import random
import pandas as pd
import collections
import scipy.io
import csv
import math

In [2]:
table = pd.read_csv('final.csv')
table.fillna(0, inplace=True)
table.head()

,Unnamed: 0,CouId,County,CrmRatePer100k,MURDER,RAPE,ROBBERY,AGASSLT,BURGLRY,LARCENY,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
0,0,1001,Autauga County,251.601926,3.0,15.0,34.0,87.0,447.0,1233.0,...,0.6,1.3,2.5,25.8,24112,74.1,20.2,5.6,0.1,5.2
1,1,1003,Baldwin County,228.086325,8.0,30.0,76.0,332.0,967.0,3829.0,...,0.8,1.1,5.6,27.0,89527,80.7,12.9,6.3,0.1,5.5
2,2,1005,Barbour County,177.278771,0.0,4.0,8.0,36.0,90.0,362.0,...,2.2,1.7,1.3,23.4,8878,74.1,19.1,6.5,0.3,12.4
3,3,1007,Bibb County,217.661691,1.0,4.0,8.0,36.0,122.0,251.0,...,0.3,1.7,1.5,30.0,8171,76.0,17.4,6.3,0.3,8.2
4,4,1009,Blount County,210.810064,1.0,11.0,9.0,101.0,397.0,865.0,...,0.4,0.4,2.1,35.0,21380,83.9,11.9,4.0,0.1,4.9

In [3]:
income = np.array(table['Income'].rank(pct=True))
table['Income'].mean()

49705.00997672098

In [4]:
poverty = np.array(table['Poverty'].rank(pct=True))
for i in range(len(poverty)):
    poverty[i] = 1 - poverty[i]
table['Poverty'].mean()

15.85623545061525

In [5]:
unemployment = np.array(table['Unemployment'].rank(pct=True))
for i in range(len(unemployment)):
    unemployment[i] = 1 - unemployment[i]
table['Unemployment'].mean()

6.284901895576985

In [6]:
commute = np.array(table['MeanCommute'].rank(pct=True))
for i in range(len(commute)):
    commute[i] = 1 - commute[i]
table['MeanCommute'].mean()

23.409910209511178

In [10]:
crimeRate = np.array(table['CrmRatePer100k'].rank(pct=True))
# for i in range(len(crimeRate)):
#     crimeRate[i] = 1 - crimeRate[i]
table['CrmRatePer100k'].mean()

229.59070396703558

In [7]:
temp = [None]*len(income)
for i in range(len(income)):
    temp[i] = (income[i]*200 + poverty[i]*250 + unemployment[i]*200 + commute[i]*100)

m = max(temp)
[i for i, j in enumerate(temp) if j == m]

[3003]

In [9]:
names = np.array(table)
names[3003]

array([3003, 56039, 'Teton County', 179.62996230000005, 0.0, 4.0, 1.0,
       35.0, 28.0, 203.0, 22268.0, 271.0, 0.012169929944314713,
       1.216992994431471, 'Wyoming', 22923, 12169, 10754, 15.0, 81.5, 0.5,
       0.3, 2.2, 0.0, 16692, 80049, 4586, 49200, 4567, 6.8, 2.8, 39.4,
       25.4, 17.0, 11.7, 6.5, 68.3, 6.7, 3.8, 11.7, 3.8, 5.7, 14.3, 14492,
       82.1, 11.4, 6.5, 0.0, 1.3], dtype=object)